@font-face {
      font-family:dk mandarin whispers;
      src: url('font/DK Mandarin Whispers.otf') format("opentype");
    }
    *{
      padding: 0;
      margin: 0;
    }
.img1{
     background-image: linear-gradient(to bottom, rgba(0, 70, 127, 0.5), rgba(165, 204, 130, 0.5)),url(ft3.jpg);
     min-height: 600px;
     opacity: 0.90;
     background-size: 100%;
}
.text{
      
      top: 30%;
      width: 100%;
      text-align: center;
      color: #000;
      text-shadow: 4px 3px black;
      font-size: 40px;
      letter-spacing: 8px;
      font-family: dk mandarin whispers;
      text-transform: uppercase;
    }
    .text .border{
      background-color: #111;
      color: #fff;
      padding: 10px;
    }
    .text .border.trans{
      background-color: transparent;
    }
    #woo{
      font-size: 70px;
    }